@import './animation.css';
@import './fontello.css';
@import './loading.css';

#events::-webkit-scrollbar {
  display: none;
}
#events {
  overflow: -moz-scrollbars-none;
}

body {
  touch-action: pan-y;
  background-color: #eee;
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,'Roboto','STHeiti','Noto Sans Han','Droid Sans Fallback','Microsoft YaHei Light','Microsoft YaHei',Arial,sans-serif;
  color: rgba(0,0,0,1);
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
}

::selection {
  /* configure selected text color */
  background: #fff2a8;
}

a {
  text-decoration: none;
}

.circle:before {
    content: ' \25CF';
}

textarea {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.clearFloat {
  clear: both;
}

.backArrow {
    display: inline-block;
    font-style: normal;
    position: relative;
    top: 2pt;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.1em solid black;
    border-top: 0.1em solid black;
    transform: rotate(-135deg);
}
