@import './animation.css';
@import './fontello.css';

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,'Roboto','STHeiti','Noto Sans Han','Droid Sans Fallback','Microsoft YaHei Light','Microsoft YaHei',Arial,sans-serif;
  color: rgba(0,0,0,.8);
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0;
}

.backArrow {
    display: inline-block;
    font-style: normal;
    position: relative;
    top: 2pt;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.1em solid black;
    border-top: 0.1em solid black;
    transform: rotate(-135deg);
}
