
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-export:before { content: '\e803'; } /* '' */
.icon-spin4:before { content: '\e804'; } /* '' */